@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-width: 100vw;
  height: 100vh;
  display: block;
}
/* header */
nav {
  position: fixed;
  width: 100%;
  height: 5rem;
  font-family: 'Agustina', sans-serif;
  font-weight: bold;
  cursor: pointer;
}
/* end header */

/* All countires style */
.grids {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.grid-item {
  display: flex;
  justify-self: center;
  align-self: center;
}
.card {
  width: 20rem;
  height: 20rem;
}
.child-card {
  height: 8rem;
}
.img {
  width: 100%;
  height: 9rem;
}
.country-titel {
  display: -webkit-box;
  font-size: 1.5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*End  All countires style */

/* Modal */
.Modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#1e2b3993;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 600px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* display: flex; */
  /* flex-direction: column; */
}

.modal-img {
  width: 600px;
  height: 100%;
}

/* End Modal */

/* Panginate */
.pagination {
  display: flex;
  width: fit-content;
  padding: 8px;
  border-radius: 5px;
  margin-top: 1rem;
}

.pagination button {
  justify-content: center;
  width: 40px;
  height: 40px;
  font-weight: 600;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
}

.pagination button.active {
  font-weight: 900;
  background: #ffe400;
}
/* end panginate */

/* loading  */
.loading-page  {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgb(17 24 39);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-img {
  position: relative;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
/* respinsivve */
@media (max-width: 1490px)
{
  .grids {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    align-items: center;
  }
  .hero-m {
    margin-top: 5rem;
  }
  .img-hero {
    margin-top: 0rem;
  }
}
@media (max-width: 1100px)
{
  .grids {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: center;
    align-items: center;
  }
  .hero-m {
    margin-top: 10rem;
  }
  .img-hero {
    margin-top: 9rem;
  }
}


@media (max-width: 709px)
{
  .grids {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    justify-content: center;
    align-items: center;
  }
  .hero-m {
    margin-top: 5rem;
  }
}

