@tailwind base;
@tailwind components;
@tailwind utilities;

/* All countires style */
.grids {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  justify-content: center;
  align-items: center;
}
.grid-item {
  display: block;
  justify-self: center;
  align-self: center;
}
.card {
  width: 300px;
  height: 300px;
  min-height: 300px;
}
.child-card {
  height: 100px;
}
.img {
  width: 100%;
  height: 130px;
}
.country-titel {
  display: -webkit-box;
  font-size: 1.5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*End  All countires style */